.logo {
    display: flex;
    justify-content: center;
}

.background {
    background-color: grey;
}

.main-text {
    text-align: center;
    color: lightblue;
}

input[type="submit"] {
    margin-left: 126px;
}

.content {
    color: lightblue;
    font-size: 35px;
    margin: 10px;
    font-style: italic;
}

.nav-register {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.nav-register a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(47, 47, 179);

}

.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav a {
    text-decoration: none;
    color: rgb(47, 47, 179);
    margin: 0 100px;
}

.box {
    width: 200px;
    min-height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.box:hover {
    background-color: wheat;
}

.lines {
    border-color: blue
}

.reg-box {
    display: flex;
    justify-content: center;
    width: 328px;
    border: 2px solid black;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}

.content-box {
    justify-content: center;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 10px;
    flex-direction: column;
}

.content-box a {

    color: lightblue;
    font-size: 35px;
    margin: 10px;
    font-style: italic;

    text-decoration: none;
    color: lightblue;


}

.container {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    margin: 10px;
    flex-direction: row;
    gap: 100px;
    min-height: 300px;
}

.image-contentbox {
    justify-content: center;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 10px;
    flex-direction: column;
}

a:hover {
    color: black;
}

.nighmode {
    display: flex;
    justify-content: end;
}

#darkmode {
    background-color: inherit;
    color: inherit;
    border: 1px solid yellow;
    border-radius: 10px;
    font-size: 20px;
}

.dark-mode {
    background-color: #121212;
    color: white;

    a {
        text-decoration: none;
        color: red;

    }

    .box {

        border: 2px solid yellow;

    }

    .container {
        border: 2px solid yellow;
        border-radius: 10px;
    }

    .container_quote {
        border: 2px solid yellow;
        border-radius: 10px;
    }

}

#quote {
    color: yellow;
    font-size: 30px;
    margin: 20px 0;
}

.container_quote {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: fit-content;

    justify-content: center;

    button {
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        color: blue;
        border-radius: 10px;

    }
}

.quotes-container {
    display: flex;
    gap: 20px;
    justify-content: center;

}